<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand" href="index.html">Kevin Nguyen</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link"><%= link_to "Home", root_path %></a>
        </li>
        <li class="nav-item">
          <a class="nav-link"><%= link_to "About", static_page_path('about') %></a>
        </li>
        <li class="nav-item">
          <a class="nav-link"><%= link_to "Portfolio", static_page_path('portfolio') %></a>
        </li>
        <li class="nav-item">
          <a class="nav-link"><%= link_to "Archive", archive_path %></a>
        </li>
        <li class = "nav-item">
          <a class="nav-link">
            <% if logged_in? %>
              <%= link_to "Profile", user_path(current_user) %>
            <% else %>
              <%= link_to "login", login_path %>
            <% end %>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<%= render 'layouts/header' %>
<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <h1>Articles</h1>
      <% Article.all.reverse.each do |article| %>
      <div class="post-preview">
        <a href="post.html">
          <h2 class="post-title archive-inline">
            <%= link_to article.title, article_path(article) %>
          </h2>
        </a>
        <p class="post-meta archive-inline">Posted on <%= article.created_at.strftime("%B %d, %Y") %></p>
      <% end %>
    </div><br />
      <h1>Tags</h1>
      <% Tag.all.each do |tag| %>
      <div class="post-preview">
        <a href="post.html">
          <h2 class="post-title archive-inline">
            <%= link_to tag.name, tag_path(tag) %>
          </h2>
        </a>
      <% end %>
    </div><br />


      <hr>

      <!-- Pager -->

    </div>
  </div>
</div>

<hr>
