<header class="masthead" style="background-image: url('')">
  <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Create Page</h1>
          </div>
        </div>
      </div>
    </div>
</header>
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <%= form_for(@static_page, html: { multipart: true }) do |f| %>

        <%= f.label :name %>
        <%= f.text_field :name, class: 'col-12 input-font-size' %>

        <%= f.label :permalink %>
        <%= f.text_field :permalink, class: 'col-12 input-font-size' %>

        <%= f.label :content %>
        <%= f.text_area :content, :rows => 20, class: 'col-12 input-font-size' %>

        <%= f.label :image, 'Attach Header Image' %><br />
        <%= f.file_field :image %><br /><br />

        <%= f.submit 'Create Page' %>

      <% end %>
    </div>
  </div>
</div>
<hr>
