<header class="masthead" style="background-image: url('/assets/login.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
        </div>
      </div>
    </div>
  </div>
</header>
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <%= form_for(:session, url: login_path) do |f| %>
        <%= render 'shared/flash_message' %>

        <%= f.label :email %>
        <%= f.email_field :email, class: 'col-12 input-font-size' %><br />

        <%= f.label :password %>
        <%= f.password_field :password, class: 'col-12 input-font-size' %><br />

        <%= f.label :remember_me do %>
          <%= f.check_box :remember_me %>
          <span>Remember me on this computer</span>
        <% end %><br />

        <%= f.submit 'Login' %>

      <% end %>
    </div>
  </div>
</div>
<hr>
