<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <%= form_for(@article, html: { multipart: true }) do |f| %>
        <%= render 'articles/error_messages' %>

        <%= f.label :title %>
        <%= f.text_field :title, class: 'col-12 input-font-size form-control' %>

        <%= f.label :subtitle %>
        <%= f.text_field :subtitle, class: 'col-12 input-font-size form-control' %>

        <%= f.label :body %>
        <%= f.text_area :body, :rows => 20, class: 'col-12 input-font-size form-control' %>

        <%= f.label :tag_list %>
        <%= f.text_field :tag_list, class: 'col-12 input-font-size form-control' %>

        <%= f.label :image, "Attach Header Image" %><br />
        <%= f.file_field :image %><br /><br />

        <%= f.submit %>

      <% end %>
    </div>
  </div>
</div>
<hr>
