<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand" href="index.html">Kevin Nguyen</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link"><%= link_to "Home", root_path %></a>
        </li>
        <li class="nav-item">
          <a class="nav-link"><%= link_to "About", static_page_path('about') %></a>
        </li>
        <li class="nav-item">
          <a class="nav-link"><%= link_to "Portfolio", static_page_path('portfolio') %></a>
        </li>
        <li class="nav-item">
          <a class="nav-link"><%= link_to "Archive", archive_path %></a>
        </li>
        <li class = "nav-item">
          <a class="nav-link">
            <% if logged_in? %>
              <%= link_to "Profile", user_path(current_user) %>
            <% else %>
              <%= link_to "login", login_path %>
            <% end %>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<%= render 'layouts/header' %>
<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <h1>Articles (<%= @user.articles.count %>)</h1>
      <% @user.articles.reverse.each do |article| %>
      <div class="post-preview">
        <a href="post.html">
          <h4 class="post-title archive-inline">
            <%= link_to article.title, article_path(article) %>
          </h4>
        </a>
        <p class="post-meta archive-inline">Posted <%= article.created_at.strftime('%B %d, %Y') %> </p>
        <p class="archive-inline"><%= link_to 'Edit', edit_article_path(article) %></p><p class="archive-inline"> </p><p class="archive-inline"><%= link_to 'Delete', article_path(article), method: :delete %></p>
      <% end %>
    </div><br />
      <h1>Tags (<%= Tag.all.count %>)</h1>
      <% Tag.all.each do |tag| %>
      <div class="post-preview">
        <a href="post.html">
          <h4 class="post-title archive-inline">
            <%= link_to tag.name, tag_path(tag) %>
          </h4>
        </a>
        <p class="archive-inline"><%= link_to 'Delete', tag_path(tag), method: :delete %></p>
        <% end %>
      </div><br />
      <hr>
      <!-- Pager -->
      <div class="clearfix">
        <%= link_to 'Create a New Page', new_static_page_path %><br />
        <%= link_to 'Create a New Article', new_article_path, class: 'new_article' %><br />
        <%= link_to 'Logout', logout_path, method: :delete %>
      </div>
    </div>
  </div>
</div>

<hr>
