<header class="masthead" style="background-image: url('')">
  <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Profile</h1>
          </div>
        </div>
      </div>
    </div>
</header>
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <h1>Articles (<%= @user.articles.count %>)</h1>
        <% @user.articles.reverse.each do |article| %>
          <div class="post-preview">
            <a href="post.html">
              <h4 class="post-title archive-inline">
                <%= link_to article.title, article_path(article) %>
              </h4>
            </a>
            <p class="post-meta archive-inline">Posted <%= article.created_at.strftime('%B %d, %Y') %> </p>
            <p class="archive-inline"><%= link_to 'Edit', edit_article_path(article) %></p><p class="archive-inline"> </p><p class="archive-inline"><%= link_to 'Delete', article_path(article), method: :delete %></p>
          </div>
        <% end %>
        <hr>
      <h1>Tags (<%= Tag.all.count %>)</h1>
      <% Tag.all.each do |tag| %>
        <div class="post-preview">
          <a href="post.html">
            <h4 class="post-title archive-inline">
              <%= link_to tag.name, tag_path(tag) %>
            </h4>
          </a>
          <p class="archive-inline"><%= link_to 'Delete', tag_path(tag), method: :delete %></p>
        </div>
      <% end %>
      <hr>
      <div class="clearfix">
        <%= link_to 'Create a New Page', new_static_page_path %><br />
        <%= link_to 'Create a New Article', new_article_path, class: 'new_article' %><br />
        <%= link_to 'Logout', logout_path, method: :delete %>
      </div>
    </div>
  </div>
</div>
<hr>
