<%= render 'layouts/header' %>
<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <h3>Articles (<%= @user.articles.count %>)</h3>
      <% @user.articles.each do |article| %>
      <div class="post-preview">
        <a href="post.html">
          <h4 class="post-title">
            <%= link_to article.title, article_path(article) %>
          </h4>
        </a>
        <p class="post-meta">Posted <%= article.created_at.strftime('%B %d, %Y') %> </p>
      </div>
      <% end %>

      <hr>
      <!-- Pager -->
      <div class="clearfix">
        <%= link_to 'Create a New Page', new_static_page_path %><br />
        <%= link_to 'Create a New Article', new_article_path, class: 'new_article' %><br />
        <%= link_to 'Logout', logout_path, method: :delete %>
      </div>
    </div>
  </div>
</div>

<hr>
